body {
  background-color:rgb(251, 251, 251);
}

h1 {
  font-family: 'Bebas Neue';
  font-weight: bolder;
  color: black;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
  font-size: 50px;

}

.navigation {
  font-family: 'Bebas Neue';
  text-align: center;
  margin: 40px;

}

.unorderedlist li {
  display: inline;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 10%;
  text-decoration: none;
  text-align: center;

}

.unorderedlist li a {
  text-decoration: none;
  color: rgb(48, 48, 48);

}

.unorderedlist li a:hover {
  color: rgb(121, 127, 145);
}
.h2 {
  font-family: 'Bebas Neue';
  font-size: 55px;
  text-align: center;
  margin: auto;
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  color: white;
}



.parallax {
  margin-top: 10vh;
  display: block;
  margin: auto;
  height: 80vh;
  /* YOU CAN ATTACH YOUR IMAGE TO THE BACKGROUND OF YOUR ELEMENTS */
  background-image: url("../Images/bwbooks.jpg");
  background-size: 100% auto;
  /* THIS IS WHAT IT MAKES YOUR IMAGE FIXED TO THE BACKGROUND INSTEAD
   OF MOVING WITH YOUR OTHER ELEMENTS */
  background-attachment: fixed;
  /* PLACE THE IMAGE IN THE MIDDLE */
  background-position: top center;
}

.footer {
  font-family: 'Bebas Neue';
  margin: auto;
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
}

.footer ul li {
  display: inline;
  text-decoration: none;
}
